@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        a{
            margin:10px;
        }
    </style>
</head>
<body>

    <!-- HTML Comment-->
    @*C# Comment*@


    <!-- in this place can write code HTML and code c#-->


    @*Start Header*@
    <section class="d-flex justify-content-evenly container flex-column  vh-100  ">
        <div class="">

        <a href="/Home/Index" class=" btn btn-danger">Home</a>
        <a href="/Home/Contact" class=" btn btn-success">Contact Us</a>
        <a href="/Home/About" class="btn btn-warning">About Us</a>
        <a href="/Home/Privacy" class=" btn btn-dark">Privacy</a>
        </div>
        @*End Header*@



        @*Start Body*@
        <div>
            <h1>Welcome Home Page</h1>


        </div>
        @*End Body*@
        @*Start Footer*@

        <div>
            <h1>CopyRights &copy; Hazem Fady At Rout @DateTime.Now</h1>


        </div>
        @*End Footer*@

    </section>
    




    <script src="~/Lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
